<div class="cards">
   <div class="card">
      <a href="academia/index.html">
         <img src="/images/academia.png">
{{.Title}}
      </a>
   </div>
   <div class="card">
      <a href="its/index.html">
         <img src="/images/its.png">
{{.LinkTitle}}
      </a>
   </div>
   <div class="card">
      <a href="budget/index.html">
         <img src="/images/budget.png">
      </a>
   </div>
   <div class="card">
      <a href="life/index.html">
         <img src="/images/life.png">
      </a>
   </div>
</div>

{{- $page := . }}
{{- with .Site.Menus.shortcuts }}
        <div id="shortcuts">
          <ul class="space">
            {{- range sort . "Weight" }}
              {{- $shortcut := . }}
              {{- with $page.Site.GetPage (printf "%s" $shortcut.URL ) }}
                {{- $to := . }}
            <li>{{ $shortcut.Pre }}<a class="padding">{{ safeHTML $shortcut.Name }}</a>{{ $shortcut.Post }}</li>
              {{- else }}
            <li>{{ $shortcut.Pre }}<a class="padding">{{ safeHTML $shortcut.Name }}</a>{{ $shortcut.Post }}</li>
              {{- end }}
            {{- end }}
          </ul>
        </div>
        {{- end }}

<style>
.cards {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   grid-gap: 5px;
}

.cards .card {
}
.cards .card img {
   object-fit: cover;
   max-width: 100%;
}
.cards .card img:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media only screen and (min-width: 970px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 750px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
</style>
