{{ $.Site.Language.Lang }}
<div class="cards">
   <div class="card">
      <a href="academia/index.html">
         {{ if eq $.Site.Language.Lang "en" }}
            <img src="/images/academia_en.png">
         {{ end }}
         {{ if eq $.Site.Language.Lang "tw" }}
            <img src="/images/academia.png">
         {{ end }}
      </a>
   </div>
   <div class="card">
      <a href="its/index.html">
         {{ if eq $.Site.Language.Lang "en" }}
            <img src="/images/its_en.png">
         {{ end }}
         {{ if eq $.Site.Language.Lang "tw" }}
            <img src="/images/its.png">
         {{ end }}
      </a>
   </div>
   <div class="card">
      <a href="budget/index.html">
         {{ if eq $.Site.Language.Lang "en" }}
            <img src="/images/budget_en.png">
         {{ end }}
         {{ if eq $.Site.Language.Lang "tw" }}
            <img src="/images/budget.png">
         {{ end }}
      </a>
   </div>
   <div class="card">
      <a href="life/index.html">
         {{ if eq $.Site.Language.Lang "en" }}
            <img src="/images/life_en.png">
         {{ end }}
         {{ if eq $.Site.Language.Lang "tw" }}
            <img src="/images/life.png">
         {{ end }}
      </a>
   </div>
</div>

<style>
.cards {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   grid-gap: 5px;
}

.cards .card {
}
.cards .card img {
   object-fit: cover;
   max-width: 100%;
}
.cards .card img:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media only screen and (min-width: 970px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 750px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
</style>
