<div class="cards">
   <div class="card">
      <a href="academia/index.html">
         <img src="images/academia.png">
      </a>
   </div>
   <div class="card">
      <a href="it/index.html">
         <img src="images/its.png">
      </a>
   </div>
   <div class="card">
      <a href="budget/index.html">
         <img src="images/budget.png">
      </a>
   </div>
   <div class="card">
      <a href="life/index.html">
         <img src="images/life.png">
      </a>
   </div>
</div>

<p>
   <font color="red" size="2em">本內容使用生成式人工智慧技術產生，若內容說明有不清楚與不得體處，尚請見諒並與資訊服務處反應。
更多訊息可參考：<a href="https://github.com/AS-AIGC/AS-AIGFAQ" target=_blank><font color="red">https://github.com/AS-AIGC/AS-AIGFAQ</font></a></font>
</p>

<style>
.cards {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   grid-gap: 5px;
}

.cards .card {
}
.cards .card img {
   object-fit: cover;
   max-width: 100%;
}
.cards .card img:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media only screen and (min-width: 970px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 750px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
</style>
